:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #111;
  background-color: #f7f7f7;
}

html, body {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  color: #111;
}

#root {
  width: 100%;
  min-height: 100vh;
}
